<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <targets>
    <target name="oauth-info" xsi:type="File" fileName="${basedir}nlog/oauth/oauth-info/${date:format=yyyy-MM-dd}.log"
            layout="${date:format=HH\:mm\:ss}|${level}|: ${message}" />
  </targets>

  <rules>
    <logger name="oauth" minlevel="Info" maxlevel="Warn" writeTo="oauth-info" enabled="true" />
  </rules>
</nlog>
