<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="oauth:emailConfirmationLink" value="http://ntiche.com/ui/#!/en/account/email-confirmation"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="oauth:recoverPasswordLink" value="http://ntiche.com/ui/#!/en/account/reset-password"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="email:admin" value="elie.kanawati@gmail.com"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <connectionStrings>
    <add name="oauth"
      connectionString="Data Source=SQL7004.site4now.net;Initial Catalog=DB_A46121_ntiche;User Id=DB_A46121_ntiche_admin;Password=Gthtvjuf123!;"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>
