<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="oauth"
      connectionString="Data Source=SQL7002.site4now.net;Initial Catalog=DB_A46121_pharmacy;User Id=DB_A46121_pharmacy_admin;Password=Gthtvjuf123!;"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>
