<h3 class="text-center" translate="Evaluation"></h3>
<div class="mt-5 mb-5 row justify-content-center">
    <div class="col-md-10">
        <div class="card">
            <div class="card-body">
                <form name="feedbackForm" class="needs-validation" novalidate data-ng-submit="submit(feedbackForm)"
                      data-ng-class="{'was-validated': feedbackForm.$submitted}" data-ng-loading-form>
                    <ol>
                        <li>
                            <span translate="This program content enhanced your knowledge. Scale 1 to 5 (1 = strongly disagree, 5 = strongly agree)"></span>:
                            <div class="form-group">
                                <div class="form-check-inline" data-ng-repeat="enhancedRating in ::getRatings()">
                                    <input class="form-check-input" type="radio"
                                           id="enhancedRating-{{::enhancedRating}}"
                                           name="enhancedRating"
                                           data-ng-value="::enhancedRating"
                                           data-ng-model="model.enhancedRating"
                                           data-ng-required="!model.enhancedRating" />

                                    <label class="form-check-label" for="enhancedRating-{{::enhancedRating}}">
                                        <span data-ng-bind="::$index+1"></span>
                                    </label>

                                    <!--<div class="invalid-feedback mt-0 ml-2" data-ng-if="$last && feedbackForm.enhancedRating.$error.required">Answer is required.</div>-->
                                </div>

                            </div>
                        </li>
                        <li>
                            <span translate="For each of the statements below, please assess your pre- and post-program familiarity, and the relevance to your practice. Scale 1 to 4 (1 = quite unfamiliar, 4 = quite familiar)"></span>:
                            <div class="form-group">
                                <table class="table table-bordered table-responsive">
                                    <thead>
                                        <tr>
                                            <th scope="col" translate="Overall Learning Objectives"></th>
                                            <th scope="col" class="text-center" translate="Before the Program"></th>
                                            <th scope="col" class="text-center" translate="After the Program"></th>
                                            <th scope="col" class="text-center" translate="Relevance to Practice"></th>
                                        </tr>
                                    </thead>
                                    <tbody data-ng-init="overallLearningObjectivesBefores=getRatings(); overallLearningObjectivesAfters=getRatings(); overallLearningObjectivesRelevances=getRatings();">
                                        <tr>
                                            <td translate="Define critical dose drugs, also known as narrow therapeutic index drugs"></td>
                                            <td data-ng-init="model.overallLearningObjectives1Before=0">
                                                <select class="form-control form-control-sm form-control-no-validation"
                                                        data-ng-model="model.overallLearningObjectives1Before"
                                                        data-ng-options="overallLearningObjective+1 for overallLearningObjective in ::overallLearningObjectivesBefores"></select>
                                            </td>
                                            <td data-ng-init="model.overallLearningObjectives1After=0">
                                                <select class="form-control form-control-sm form-control-no-validation"
                                                        data-ng-model="model.overallLearningObjectives1After"
                                                        data-ng-options="overallLearningObjective+1 for overallLearningObjective in ::overallLearningObjectivesAfters"></select>
                                            </td>
                                            <td data-ng-init="model.overallLearningObjectives1Relevance=0">
                                                <select class="form-control form-control-sm form-control-no-validation"
                                                        data-ng-model="model.overallLearningObjectives1Relevance"
                                                        data-ng-options="overallLearningObjective+1 for overallLearningObjective in ::overallLearningObjectivesRelevances"></select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td translate="Identify considerations for substitutions between different immunosuppressant drug formulations based on pharmacokinetic data and patient outcomes, including brand name, subsequent entry formulations, and immediate- vs. extended-release formulations"></td>
                                            <td data-ng-init="model.overallLearningObjectives2Before=0">
                                                <select class="form-control form-control-sm form-control-no-validation"
                                                        data-ng-model="model.overallLearningObjectives2Before"
                                                        data-ng-options="overallLearningObjective+1 for overallLearningObjective in ::overallLearningObjectivesBefores"></select>
                                            </td>
                                            <td data-ng-init="model.overallLearningObjectives2After=0">
                                                <select class="form-control form-control-sm form-control-no-validation"
                                                        data-ng-model="model.overallLearningObjectives2After"
                                                        data-ng-options="overallLearningObjective+1 for overallLearningObjective in ::overallLearningObjectivesAfters"></select>
                                            </td>
                                            <td data-ng-init="model.overallLearningObjectives2Relevance=0">
                                                <select class="form-control form-control-sm form-control-no-validation"
                                                        data-ng-model="model.overallLearningObjectives2Relevance"
                                                        data-ng-options="overallLearningObjective+1 for overallLearningObjective in ::overallLearningObjectivesRelevances"></select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td translate="Outline the key considerations and appropriate steps for managing potential switches in immunosuppressant drug formulation after transplant"></td>
                                            <td data-ng-init="model.overallLearningObjectives3Before=0">
                                                <select class="form-control form-control-sm form-control-no-validation"
                                                        data-ng-model="model.overallLearningObjectives3Before"
                                                        data-ng-options="overallLearningObjective+1 for overallLearningObjective in ::overallLearningObjectivesBefores"></select>
                                            </td>
                                            <td data-ng-init="model.overallLearningObjectives3After=0">
                                                <select class="form-control form-control-sm form-control-no-validation"
                                                        data-ng-model="model.overallLearningObjectives3After"
                                                        data-ng-options="overallLearningObjective+1 for overallLearningObjective in ::overallLearningObjectivesAfters"></select>
                                            </td>
                                            <td data-ng-init="model.overallLearningObjectives3Relevance=0">
                                                <select class="form-control form-control-sm form-control-no-validation"
                                                        data-ng-model="model.overallLearningObjectives3Relevance"
                                                        data-ng-options="overallLearningObjective+1 for overallLearningObjective in ::overallLearningObjectivesRelevances"></select>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </li>
                        <li>
                            <span translate="Overall, I would rate this program as (please check)"></span>:
                            <div class="form-group" data-ng-init="programRatings=getProgramRatings()">
                                <div class="form-check-inline" data-ng-repeat="programRating in ::programRatings">
                                    <input class="form-check-input" type="radio"
                                           id="programRating-{{::programRating.value}}"
                                           name="programRating"
                                           data-ng-value="::programRating.value"
                                           data-ng-model="model.programRating"
                                           data-ng-required="!model.programRating" />

                                    <label class="form-check-label" for="programRating-{{::programRating.value}}">
                                        <span translate="{{::programRating.text}}"></span>
                                    </label>

                                    <!--<div class="invalid-feedback mt-0 ml-2" data-ng-if="$last && feedbackForm.programRating.$error.required">Answer is required.</div>-->
                                </div>
                            </div>
                        </li>
                        <li>
                            <span translate="Did you appreciate the delivery method and format of this program?"></span>
                            <div class="form-group" data-ng-init="isAppreciateDeliveries=getRatingsYesNo()">
                                <div class="form-check-inline" data-ng-repeat="isAppreciateDelivery in ::isAppreciateDeliveries">
                                    <input class="form-check-input" type="radio"
                                           id="isAppreciateDelivery-{{::isAppreciateDelivery.value}}"
                                           name="isAppreciateDelivery"
                                           value="{{::isAppreciateDelivery.value}}"
                                           data-ng-model="model.isAppreciateDelivery"
                                           data-ng-required="!model.isAppreciateDelivery" />

                                    <label class="form-check-label" for="isAppreciateDelivery-{{::isAppreciateDelivery.value}}">
                                        <span translate="{{::isAppreciateDelivery.text}}"></span>
                                    </label>

                                    <!--<div class="invalid-feedback mt-0 ml-2" data-ng-if="$last && feedbackForm.isAppreciateDelivery.$error.required">Answer is required.</div>-->
                                </div>
                            </div>
                        </li>
                        <li>
                            <span translate="Did you perceive any degree of bias in any part of the presentation?"></span>
                            <div class="form-group" data-ng-init="isPerceiveDegrees=getRatingsYesNo()">
                                <div class="form-check-inline" data-ng-repeat="isPerceiveDegree in ::isPerceiveDegrees">
                                    <input class="form-check-input" type="radio"
                                           id="isPerceiveDegree-{{::isPerceiveDegree.value}}"
                                           name="isPerceiveDegree"
                                           value="{{::isPerceiveDegree.value}}"
                                           data-ng-model="model.isPerceiveDegree" />

                                    <label class="form-check-label  form-control-no-validation" for="isPerceiveDegree-{{::isPerceiveDegree.value}}">
                                        <span translate="{{::isPerceiveDegree.text}}"></span>
                                    </label>
                                    <!--<div class="invalid-feedback mt-0 ml-2" data-ng-if="$last && feedbackForm.isPerceiveDegree.$error.required">Answer is required.</div>-->
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="{{'Comments'|translate}}" data-ng-model="model.perceiveDegreeComments" maxlength="4000" required />

                            </div>
                        </li>
                        <li>
                            <span translate="What changes, if any, do you intend to make in your clinical practice as a result of today’s program?"></span>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="{{'Comments'|translate}}" data-ng-model="model.changesComments" maxlength="4000" required />
                            </div>
                        </li>
                        <li>
                            <span translate="What topics would you like presented during future events?"></span>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="{{'Comments'|translate}}" data-ng-model="model.topicsComments" maxlength="4000" required />
                            </div>
                        </li>
                        <li>
                            <span translate="Additional comments"></span>:
                            <div class="form-group">
                                <input type="text" class="form-control form-control-no-validation" placeholder="{{'Comments'|translate}}" data-ng-model="model.additionalComments" maxlength="4000" />
                            </div>
                        </li>
                    </ol>
                    <button type="submit" translate="Submit"></button>
                </form>
            </div>
            <div class="card-footer" data-ng-show="status && status !==200">
                <div class="alert alert-danger mb-0" role="alert" data-ng-bind="description"></div>
            </div>
        </div>
    </div>
</div>