<h3 class="text-center" translate="Evaluation"></h3>
<div class="mt-5 mb-5 row justify-content-center">
    <div class="col-md-10">
        <div class="card">
            <div class="card-body">
                <form name="feedbackForm" class="needs-validation" novalidate data-ng-submit="submit(feedbackForm)"
                      data-ng-class="{'was-validated': feedbackForm.$submitted}" data-ng-loading-form>
                    <ol>
                        <li>
                            <span translate="For each of the statements below, please assess your pre- and post-program familiarity and the relevance to your practice. Scale 1 to 4 (1 = quite unfamiliar, 4 = quite familiar)"></span>:
                            <div class="form-group">
                                <table class="table table-bordered table-responsive">
                                    <thead>
                                        <tr>
                                            <th scope="col" translate="Learning Objectives"></th>
                                            <th scope="col" class="text-center" translate="Before the Program"></th>
                                            <th scope="col" class="text-center" translate="After the Program"></th>
                                            <th scope="col" class="text-center" translate="Relevance to Practice"></th>
                                        </tr>
                                    </thead>
                                    <tbody data-ng-init="overallLearningObjectivesBefores=getRatings(); overallLearningObjectivesAfters=getRatings(); overallLearningObjectivesRelevances=getRatings();">
                                        <tr>
                                            <td translate="Recognize the volume of medications and complexity of medication regimens taken by transplant recipients"></td>
                                            <td data-ng-init="model.overallLearningObjectives1Before=0">
                                                <select class="form-control form-control-sm form-control-no-validation"
                                                        data-ng-model="model.overallLearningObjectives1Before"
                                                        data-ng-options="overallLearningObjective+1 for overallLearningObjective in ::overallLearningObjectivesBefores"></select>
                                            </td>
                                            <td data-ng-init="model.overallLearningObjectives1After=0">
                                                <select class="form-control form-control-sm form-control-no-validation"
                                                        data-ng-model="model.overallLearningObjectives1After"
                                                        data-ng-options="overallLearningObjective+1 for overallLearningObjective in ::overallLearningObjectivesAfters"></select>
                                            </td>
                                            <td data-ng-init="model.overallLearningObjectives1Relevance=0">
                                                <select class="form-control form-control-sm form-control-no-validation"
                                                        data-ng-model="model.overallLearningObjectives1Relevance"
                                                        data-ng-options="overallLearningObjective+1 for overallLearningObjective in ::overallLearningObjectivesRelevances"></select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td translate="Explain the drug-specific, patient-specific, and clinician-specific factors which increase the risk of medication errors in transplant patients"></td>
                                            <td data-ng-init="model.overallLearningObjectives2Before=0">
                                                <select class="form-control form-control-sm form-control-no-validation"
                                                        data-ng-model="model.overallLearningObjectives2Before"
                                                        data-ng-options="overallLearningObjective+1 for overallLearningObjective in ::overallLearningObjectivesBefores"></select>
                                            </td>
                                            <td data-ng-init="model.overallLearningObjectives2After=0">
                                                <select class="form-control form-control-sm form-control-no-validation"
                                                        data-ng-model="model.overallLearningObjectives2After"
                                                        data-ng-options="overallLearningObjective+1 for overallLearningObjective in ::overallLearningObjectivesAfters"></select>
                                            </td>
                                            <td data-ng-init="model.overallLearningObjectives2Relevance=0">
                                                <select class="form-control form-control-sm form-control-no-validation"
                                                        data-ng-model="model.overallLearningObjectives2Relevance"
                                                        data-ng-options="overallLearningObjective+1 for overallLearningObjective in ::overallLearningObjectivesRelevances"></select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td translate="Discuss and incorporate practice tips presented to minimize the risk of medication errors in transplant patients"></td>
                                            <td data-ng-init="model.overallLearningObjectives3Before=0">
                                                <select class="form-control form-control-sm form-control-no-validation"
                                                        data-ng-model="model.overallLearningObjectives3Before"
                                                        data-ng-options="overallLearningObjective+1 for overallLearningObjective in ::overallLearningObjectivesBefores"></select>
                                            </td>
                                            <td data-ng-init="model.overallLearningObjectives3After=0">
                                                <select class="form-control form-control-sm form-control-no-validation"
                                                        data-ng-model="model.overallLearningObjectives3After"
                                                        data-ng-options="overallLearningObjective+1 for overallLearningObjective in ::overallLearningObjectivesAfters"></select>
                                            </td>
                                            <td data-ng-init="model.overallLearningObjectives3Relevance=0">
                                                <select class="form-control form-control-sm form-control-no-validation"
                                                        data-ng-model="model.overallLearningObjectives3Relevance"
                                                        data-ng-options="overallLearningObjective+1 for overallLearningObjective in ::overallLearningObjectivesRelevances"></select>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </li>
                        <li>
                            <span translate="Did the program meet the stated learning objectives? Scale 1 to 4 (1 = Strongly disagree to 4 = Strongly agree)"></span>
                            <div class="form-group">
                                <div class="form-check-inline" data-ng-repeat="meetStatedLearningObjectives in ::getRatings(4)">
                                    <input class="form-check-input" type="radio"
                                           id="meetStatedLearningObjectives-{{::meetStatedLearningObjectives}}"
                                           name="meetStatedLearningObjectives"
                                           data-ng-value="::meetStatedLearningObjectives"
                                           data-ng-model="model.meetStatedLearningObjectives"
                                           data-ng-required="!model.meetStatedLearningObjectives" />
                                    <label class="form-check-label" for="meetStatedLearningObjectives-{{::meetStatedLearningObjectives}}">
                                        <span data-ng-bind="::$index+1"></span>
                                    </label>
                                </div>
                            </div>
                        </li>
                        <li>
                            <span translate="Was sufficient time allowed for audience participation/interactive questions?"></span>
                            <div class="form-group" data-ng-init="isSufficientTimes=getRatingsYesNo()">
                                <div class="form-check-inline" data-ng-repeat="isSufficientTime in ::isSufficientTimes">
                                    <input class="form-check-input" type="radio"
                                           id="isSufficientTime-{{::isSufficientTime.value}}"
                                           name="isSufficientTime"
                                           value="{{::isSufficientTime.value}}"
                                           data-ng-model="model.isSufficientTime"
                                           data-ng-required="!model.isSufficientTime" />

                                    <label class="form-check-label" for="isSufficientTime-{{::isSufficientTime.value}}">
                                        <span translate="{{::isSufficientTime.text}}"></span>
                                    </label>
                                </div>
                            </div>
                        </li>
                        <li>
                            <span translate="Did you perceive any degree of bias in any part of the program? If yes, please describe:"></span>
                            <div class="form-group" data-ng-init="isPerceiveDegrees=getRatingsYesNo()">
                                <div class="form-check-inline" data-ng-repeat="isPerceiveDegree in ::isPerceiveDegrees">
                                    <input class="form-check-input" type="radio"
                                           id="isPerceiveDegree-{{::isPerceiveDegree.value}}"
                                           name="isPerceiveDegree"
                                           value="{{::isPerceiveDegree.value}}"
                                           data-ng-model="model.isPerceiveDegree" />

                                    <label class="form-check-label  form-control-no-validation" for="isPerceiveDegree-{{::isPerceiveDegree.value}}">
                                        <span translate="{{::isPerceiveDegree.text}}"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control form-control-no-validation" placeholder="{{'Comments'|translate}}" data-ng-model="model.perceiveDegreeComments" maxlength="4000" />

                            </div>
                        </li>
                        <li>
                            <span translate="Did the presenter make a disclosure statement?"></span>
                            <div class="form-group" data-ng-init="isDisclosureStatements=getRatingsYesNo()">
                                <div class="form-check-inline" data-ng-repeat="isDisclosureStatement in ::isDisclosureStatements">
                                    <input class="form-check-input" type="radio"
                                           id="isDisclosureStatement-{{::isDisclosureStatement.value}}"
                                           name="isDisclosureStatement"
                                           value="{{::isDisclosureStatement.value}}"
                                           data-ng-model="model.isDisclosureStatement"
                                           data-ng-required="!model.isDisclosureStatement" />

                                    <label class="form-check-label" for="isDisclosureStatement-{{::isDisclosureStatement.value}}">
                                        <span translate="{{::isDisclosureStatement.text}}"></span>
                                    </label>
                                </div>
                            </div>
                        </li>
                        <li>
                            <span translate="Please rate the following aspects of the program (please check)"></span>:                            
                            <div>
                                <span>Clarity of Presentation(s)</span>
                                <div class="form-group" data-ng-init="programRatings=getProgramRatings()">
                                    <div class="form-check-inline" data-ng-repeat="programRating in ::programRatings">
                                        <input class="form-check-input" type="radio"
                                               id="programRating-{{::programRating.value}}"
                                               name="programRating"
                                               data-ng-value="::programRating.value"
                                               data-ng-model="model.programRating"
                                               data-ng-required="!model.programRating" />

                                        <label class="form-check-label" for="programRating-{{::programRating.value}}">
                                            <span translate="{{::programRating.text}}"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <span>Educational value to you</span>
                                <div class="form-group" data-ng-init="programRatingEducationals=getProgramRatings()">
                                    <div class="form-check-inline" data-ng-repeat="programRatingEducational in ::programRatingEducationals">
                                        <input class="form-check-input" type="radio"
                                               id="programRatingEducational-{{::programRatingEducational.value}}"
                                               name="programRatingEducational"
                                               data-ng-value="::programRatingEducational.value"
                                               data-ng-model="model.programRatingEducational"
                                               data-ng-required="!model.programRatingEducational" />

                                        <label class="form-check-label" for="programRatingEducational-{{::programRatingEducational.value}}">
                                            <span translate="{{::programRatingEducational.text}}"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <span translate="What changes, if any, do you intend to make in your clinical practice as a result of today’s program?"></span>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="{{'Comments'|translate}}" data-ng-model="model.changesComments" maxlength="4000" required />
                            </div>
                        </li>
                        <li>
                            <span translate="Additional comments"></span>:
                            <div class="form-group">
                                <input type="text" class="form-control form-control-no-validation" placeholder="{{'Comments'|translate}}" data-ng-model="model.additionalComments" maxlength="4000" />
                            </div>
                        </li>
                    </ol>
                    <button type="submit" translate="Submit"></button>
                </form>
            </div>
            <div class="card-footer" data-ng-show="status && status !==200">
                <div class="alert alert-danger mb-0" role="alert" data-ng-bind="description"></div>
            </div>
        </div>
    </div>
</div>