<h3 class="text-center">Congratulations</h3>
<div class="mt-5 mb-5 row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body text-center">
                <h4>You have passed the test!</h4>
                <form name="examResultForm" class="needs-validation" data-ng-submit="submit(examResultForm)" data-ng-loading-form>
                    

                    <div class="form-group mt-3">
                        <button class="btn btn-primary" data-ng-click="download()">Download</button>
                        <button type="submit" class="btn btn-primary ml-4">Send</button>
                    </div>
                </form>

                <div class="alert mb-0" role="alert"
                     data-ng-show="status"
                     data-ng-bind="description"
                     data-ng-class="{'alert-success': status===200, 'alert-danger': status !==200}"></div>
            </div>
        </div>
    </div>
</div>