<h3 class="text-center">Congratulations</h3>
<div class="mt-5 mb-5 row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body text-center">
                You have passed the test!
            </div>
            <div class="card-footer">
                <div class="form-group text-center">
                    <button class="btn btn-primary  pl-4 pr-4" data-ng-click="download()">Download certificate</button>
                    <button class="btn btn-primary  pl-4 pr-4" data-ng-click="send()">Send via email</button>
                </div>
            </div>
        </div>
    </div>
</div>