<div class="row justify-content-center">
    <div class="col-md-10 offset-md-2 mb-4">
        <h3 class="text-center" translate="account.header" translate-default></h3>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-md-2 ads mb-2">
        <a class="text-dark p-3 font-weight-bold" href="{{::model.newsletterLink}}" target="_blank" translate="Click here to download program PDF" style="text-decoration:none; "></a>
    </div>
    <div class="col-md-10">
        <div class="accordion">
            <div class="card">
                <div class="card-header" data-toggle="collapse" data-target="#accountPh1" translate="account.ph1" translate-default></div>
                <div id="accountPh1" class="collapse show" data-parent=".accordion">
                    <div class="card-body text-justify" translate="account.pp1" translate-default></div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" data-toggle="collapse" data-target="#accountPh2" translate="account.ph2" translate-default></div>
                <div id="accountPh2" class="collapse" data-parent=".accordion">
                    <div class="card-body text-justify">
                        <span translate="account.pp2l1" translate-default></span>
                        <ul class="text-justify">
                            <li translate="account.pp2l2"></li>
                            <li translate="account.pp2l3"></li>
                            <li translate="account.pp2l4"></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" data-toggle="collapse" data-target="#accountPh3" translate="account.ph3" translate-default></div>
                <div id="accountPh3" class="collapse" data-parent=".accordion">
                    <div class="card-body text-justify" translate="account.pp3" translate-default></div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" data-toggle="collapse" data-target="#accountPh4" translate="account.ph4" translate-default></div>
                <div id="accountPh4" class="collapse" data-parent=".accordion">
                    <div class="card-body text-justify">
                        <span translate="account.pp4l1" translate-default></span>
                        <ul class="text-justify pl-0 list-unstyled">
                            <li translate="account.pp4l2" translate-default></li>
                        </ul>

                        <span translate="account.pp4l3" translate-default></span>
                        <ul class="text-justify pl-0 list-unstyled">
                            <li translate="account.pp4l4" translate-default></li>
                            <li translate="account.pp4l5" translate-default></li>
                            <li translate="account.pp4l6" translate-default></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" data-toggle="collapse" data-target="#accountPh5" translate="account.ph5" translate-default></div>
                <div id="accountPh5" class="collapse" data-parent=".accordion">
                    <div class="card-body text-justify">
                        <span translate="account.pp5l1" translate-default></span>
                        <ul class="text-justify">
                            <li translate="account.pp5l2" translate-default></li>
                            <li translate="account.pp5l3" translate-default></li>
                        </ul>

                        <span translate="account.pp5l4" translate-default></span>
                        <ul class="text-justify">
                            <li translate="account.pp5l5" translate-default></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" data-toggle="collapse" data-target="#accountPh6" translate="account.ph6" translate-default></div>
                <div id="accountPh6" class="collapse" data-parent=".accordion">
                    <div class="card-body text-justify" translate="account.pp6" translate-default></div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" data-toggle="collapse" data-target="#accountPh7" translate="account.ph7" translate-default></div>
                <div id="accountPh7" class="collapse" data-parent=".accordion">
                    <div class="card-body text-justify" translate="account.pp7" translate-default></div>
                </div>
            </div>
        </div>
    </div>
</div>
