<h3 class="text-center ">Forgot your password?</h3>
<div class="mt-5 row justify-content-center">
  <div class="col-md-8">
    <div class="card">
      <div class="card-body">
        <form name="recoverPasswordForm" class="needs-validation" novalidate
          data-ng-submit="submit(recoverPasswordForm)" data-ng-class="{'was-validated': recoverPasswordForm.$submitted}"
          data-ng-loading-form>
          <div class="form-group">
            <label for="login">You can reset the password for your account profile by entering your e-mail address.</label>
            <input type="email" class="form-control" name="email" placeholder="Email" data-ng-model="model.email"
              maxlength="330" required autofocus />

            <div class="invalid-feedback"
              data-ng-if="recoverPasswordForm.email.$touched && recoverPasswordForm.email.$error.required">
              Email is required.
            </div>
            <div class="invalid-feedback"
              data-ng-if="recoverPasswordForm.email.$touched && recoverPasswordForm.email.$error.email">
              Email is invalid.
            </div>
          </div>
          <div class="alert alert-danger" role="alert" data-ng-show="status===404">The account with this email does
            not exist.</div>
          <div class="alert alert-success" role="alert" data-ng-show="status===200">An email has been sent to your
            account
            to reset your password.</div>
          <button type="submit">Continue</button>
        </form>
      </div>
    </div>
  </div>
</div>