<h3 class="text-center" translate="Forgot your password?"></h3>
<div class="mt-5 row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <form name="recoverPasswordForm" class="pb-3 needs-validation" novalidate
                      data-ng-submit="submit(recoverPasswordForm)" data-ng-class="{'was-validated': recoverPasswordForm.$submitted}"
                      data-ng-hide="status===200" data-ng-loading-form>
                    <div class="form-group">
                        <label for="email" translate="You can reset the password for your account profile by entering your e-mail address."></label>
                        <input type="email" class="form-control" name="email" placeholder="{{'Email'|translate}}" data-ng-model="model.email"
                               maxlength="330" required autofocus />

                        <div class="invalid-feedback" data-ng-if="recoverPasswordForm.email.$error.required">Email is required.</div>
                        <div class="invalid-feedback" data-ng-if="recoverPasswordForm.email.$error.email">Email is invalid.</div>
                    </div>
                    <button type="submit" translate="Continue"></button>
                </form>
                <div class="alert mb-0" role="alert"
                     data-ng-show="status"
                     data-ng-bind="description"
                     data-ng-class="{'alert-success': status===200, 'alert-danger': status !==200}"></div>
            </div>
        </div>
    </div>
</div>