<h3 class="text-center ">Reset your password</h3>
<div class="mt-5 row justify-content-center">
  <div class="col-md-8">
    <div class="card">
      <div class="card-body">
        <form name="resetPasswordForm" class="needs-validation" novalidate data-ng-submit="submit(resetPasswordForm)"
          data-ng-class="{'was-validated': resetPasswordForm.$submitted}" data-ng-hide="status===200 || status===404"
          data-ng-loading-form>
          <div class="form-group">
            <label for="password">Set a new password for your account</label>
            <input type="password" class="form-control" name="password" placeholder="Password"
              data-ng-model="model.password" maxlength="300" required autofocus />

            <div class="invalid-feedback"
              data-ng-if="resetPasswordForm.password.$touched && resetPasswordForm.password.$error.required">
              Password is required
            </div>
          </div>
          <button type="submit">Continue</button>
        </form>

        <div class="alert alert-danger mb-0" role="alert" data-ng-show="status===404">Reset password link is incorrect!
        </div>
        <div class="alert alert-success" role="alert" data-ng-show="status===200">An email has been sent to your
          account to reset your password.</div>
      </div>
    </div>
  </div>
</div>