<h3 class="text-center ">Disclaimer</h3>

<p class="text-justify mt-5">
  All content on the MyCancerFatigue.ca website is for educational purposes only. It was developed by a group of
  independent, subject-matter experts convened for this purpose. The opinions expressed on the MyCancerFatigue.ca
  website are not necessarily those of Astellas Pharma Canada, Inc., and neither product descriptions nor opinions
  should be attributed to Astellas Pharma Canada, Inc. Astellas Pharma Canada, Inc. does not recommend any use of its
  products that is inconsistent with the product monographs of such products. Physicians should consider the
  individual patient’s condition and consult officially approved monographs before making a diagnosis, beginning
  treatment, or following any procedures based on suggestions on the MyCancerFatigue.ca website. Patient images are
  for illustrative purposes only and any person depicted in the content is a model only.
</p>

<p class="text-justify mt-2">
  © 2018 Astellas Pharma Canada, Inc. All rights reserved. Content may not be reproduced in any form without prior
  written consent from Astellas Pharma Canada, Inc. </p>