<h3 class="text-center ">Home</h3>

  <ul style="list-style-type: none;">
    <li><a translate="Psychological Wellness" ui-sref="learning/psychological-wellness-cancer-related-fatigue"></a></li>
    <li><a translate="Physical Activity" ui-sref="learning/physical-activity-cancer-related-fatigue"></a></li>
    <li><a translate="Nutrition" ui-sref="learning/nutrition-cancer-related-fatigue"></a></li>
    <li><a translate="Spirituality Mindfulness" ui-sref="learning/spirituality-cancer-related-fatigue"></a></li>
    <li><a translate="Sleep" ui-sref="learning/sleep-cancer-related-fatigue"></a></li>
    <li><a translate="Overview" ui-sref="learning/overview"></a></li>
  </ul>