<h3 class="text-center">Privacy Policy</h3>

<p class="text-justify mt-5">
  Astellas Pharma Canada, Inc. recognizes the importance of protecting the privacy of personal information. You have
  a right to know the types of information collected at the MyCancerFatigue.ca website and how and why we collect and
  use it. You also have a right to choose whether you wish to provide us with this personal information or have it
  collected.
</p>
<p>
  Please read this Privacy Policy carefully so that you understand how your personal information will be treated as
  you make use of our site. By using the MyCancerFatigue.ca website, you agree to the terms of this Privacy Policy.
</p>
<p>
  The content of MyCancerFatigue.ca website may be updated, and in the future, we may make changes to our Privacy
  Policy. We will notify you of any significant changes and obtain your consent to any significant new uses of your
  personal information if it was collected from you prior to a significant change in this Privacy Policy. We
  recommend that you check this posted Privacy Policy regularly to ensure that you have viewed the most recent
  version. If you do not agree to the terms of this Privacy Policy or any revised Privacy Policy, please exit the
  site immediately.
</p>

<h4 class="mt-4">How we collect information at the MyCancerFatigue.ca website?</h4>
<p class="text-justify">
  The MyCancerFatigue.ca website uses state of the art technology to safeguard your data. There are three places on
  the MyCancerFatigue.ca website where information can be collected:
</p>
<p>
  <ul>
    <li>During registration, you provide us with personal information;</li>
    <li>Participating in discussion boards;</li>
    <li>When you access the site, your computer leaves a data trail.</li>
  </ul>
</p>

<h4 class="mt-4">What information is collected at the MyCancerFatigue.ca website and why?</h4>

<h4 class="mt-4">Personal information</h4>
<p class="text-justify">
  Personal information is information about an identifiable individual.
</p>

<h4 class="mt-4">Email address</h4>
<p class="text-justify">
  We require your email address so that we can confirm that you have successfully registered. You will not receive
  additional email communication from us unless you check the appropriate box during initial registration. We ask you
  if you would like to receive updates about the content on the MyCancerFatigue.ca website from Astellas Pharma
  Canada, Inc. and/or the Physician Organization (International Centre for Professional Development in Health and
  Medicine) that is responsible for uploading, managing, and maintaining content on the MyCancerFatigue.ca website.
  You can change your mind at any time about receiving email communication by using the unsubscribe instructions
  provided with each email.
</p>
<p class="text-justify">
  Please note that some personal information, including your identity and email address, may be shared with the
  Physician Organization (International Centre for Professional Development in Health and Medicine) that is
  responsible for uploading, managing, and maintaining content on the MyCancerFatigue.ca website for customer support
  purposes.
</p>

<h4 class="mt-4">Use of Cookies</h4>
<p class="text-justify">
  Apart from personal information collected when you sign up, we also collect anonymous non-personal information
  using cookie technology. Cookies are small text files a website creates when you visit a site. There are two common
  types of cookies, session cookies and persistent cookies. Session cookies store information only for the length of
  time that you are connected to a website. Unlike persistent cookies, they are not written onto your hard drive. The
  use of cookies is an industry standard and many major websites use them to provide useful features to their
  visitors. Cookies in and of themselves do not personally identify users, although they do identify a user’s
  computer.
</p>

<h4 class="mt-4">Cookies and web usage reports</h4>
<p class="text-justify">
  We use session cookies to learn how all our visitors navigate throughout the various parts of the web site. This
  web site tracking data is used in the aggregate to help us provide the most efficient service and navigational
  tools for our visitors.
</p>
<p class="text-justify">
  For registered visitors, we link the website tracking data generated from the session cookies to some of the
  personal information you provided. Through this linkage, we can create aggregate demographic profiles of web usage.
  These statistical and aggregate reports do not contain any personally identifiable information. We use aggregate
  reports to learn how many visitors with certain characteristics (e.g., specialty, geographic region) visit
  particular sections of the website.
</p>

<h4 class="mt-4">Cookies and log-in preferences</h4>
<p class="text-justify">
  Cookies can also make your use of the MyCancerFatigue.ca website easier by saving language and log-in preferences.
  We use persistent cookies to store your language preference and log-in information so that you will be “remembered”
  by our server. You will not have to go through the “splash page” and enter your log-in identification each time you
  visit the MyCancerFatigue.ca website.
</p>
<p class="text-justify">
  With most web browsers, you can erase cookies from your hard drive, block all cookies, or receive a warning before
  a cookie is used. Please refer to your web browser instructions or help screen to learn more about these functions.
</p>

<h4 class="mt-4">Disclosing Information</h4>
<p class="text-justify">
  Only selected individuals within Astellas Pharma Canada, Inc. have access to the personal information that you
  provide at the MyCancerFatigue.ca website. This access is granted strictly for the purposes identified in this
  Privacy Policy.
</p>
<p class="text-justify">
  We will not sell or share personal information collected at the MyCancerFatigue.ca website with other organizations
  except to the extent that disclosure is required by a valid legal requirement such as a law, regulation, or search
  warrant.
</p>
<p class="text-justify">
  Statistical and aggregate reports generated about web usage at the MyCancerFatigue.ca website will be shared with
  the Physician Organization (International Centre for Professional Development in Health and Medicine) that is
  responsible for uploading, managing, and maintaining content on the MyCancerFatigue.ca website. We require the
  Physician Organization to agree that they will not attempt to make this information personally identifiable by
  combining it with other databases or through any other means.
</p>

<h4 class="mt-4">Security</h4>
<p class="text-justify">
  The MyCancerFatigue.ca website has physical and technical measures in place to ensure the security of information.
  We use advanced encryption and firewall technology. Although we will make every reasonable effort to protect your
  personal information from loss, misuse, or alteration by third parties, you should be aware that there is always
  some risk involved in transmitting information over the Internet.
</p>

<h4 class="mt-4">Questions about this Privacy Policy</h4>
<p class="text-justify">
  We will in all cases respect your privacy preferences.
</p>
<p class="text-justify">
  This Privacy Policy applies only to the MyCancerFatigue.ca website. The MyCancerFatigue.ca website does contain
  links to other sites. Once you enter another website, be aware that we are not responsible for the privacy policies
  of such other sites. We encourage you to look for and review the privacy policies of each website that you visit
  through a link on the MyCancerFatigue.ca website or any website that collects personal information from you.
</p>
<p class="text-justify">
  If you have any questions about the MyCancerFatigue.ca website online Privacy Policy, please email us:
  <b>info@MyCancerFatigue.ca</b>.
</p>

<h4 class="mt-4">Funding and Advertising Policy</h4>
<p class="text-justify">
  All funding for the continuing medical education program on the MyCancerFatigue.ca website is provided in the form
  of an unrestricted educational grant from Astellas Pharma Canada, Inc. In accordance with CMA Policy: Guidelines
  for Physicians in Interactions with Industry (see https://www.cma.ca/En/Pages/physician-industry-interaction.aspx),
  the program Scientific Planning Committee maintain full editorial control over the content, independent of Astellas
  Pharma Canada, Inc. We encourage users to view the Scientific Planning Committee disclosures of potential conflicts
  of interest listed at the beginning of the program.
</p>
<p class="text-justify">
  MyCancerFatigue.ca does not accept any form of advertising.
</p>