<h3 class="text-center" translate="Support"></h3>
<div class="mt-5 mb-5 row justify-content-center">
    <div class="col-md-10">
        <div class="card">
            <div class="card-body">
                <p class="text-justify">
                    <span translate="support.p1" translate-default></span>
                    <b data-ng-bind="host"></b>
                </p>
                <p class="text-justify" translate="support.p2" translate-default></p>
                <p class="text-justify" translate="support.p3" translate-default></p>
            </div>
        </div>
    </div>
</div>