body {
    min-width: 320px;
}

    body > .container:after {
        content: '';
        display: block;
        clear: both;
    }

body, html {
    height: 100%;
    background-image: url('../images/logo.min.jpg');
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: right 56px;
}

.wrapper {
    min-height: 100%;
    padding: 60px 0 100px;
    /*margin-bottom:64px;*/
}

[ng-cloak], [data-ng-cloak] {
    visibility: hidden !important;
}

.ng-hide {
    display: none !important;
}

.ng-show {
    display: block !important;
}

.form-control-no-validation:valid {
    background-image: none !important;
    border-color: #ccc !important;
    padding-right: 0px !important;
}
