body>.container {
  padding: 60px 15px 0
}

[ng-cloak], [data-ng-cloak] {
  visibility: hidden !important;
}

.ng-hide {
  display: none !important;
}

.ng-show {
  display: block !important;
}


.navbar-login {
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session {
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}