<div class="container text-center">
    <span translate="footer.copyright"></span>
    <ul class="list-inline m-0">
        <li class="list-inline-item">
            <a class="nav-link" ui-sref="privacy" translate="footer.privacy"></a>
        </li>
        <li class="list-inline-item">
            <a class="nav-link" ui-sref="terms" translate="footer.terms"></a>
        </li>
        <li class="list-inline-item">
            <a class="nav-link" ui-sref="support" translate="footer.support"></a>
        </li>
    </ul>
</div>