<nav class="navbar navbar-expand-md navbar-dark bg-ntiche fixed-top" data-ng-navbar>
    <div class="logo">
        <img src="images/logo-399x293.jpg" width="40" height="30">
    </div>
    <a class="navbar-brand ml-3" ui-sref="index">Ntiche</a>
    <ul class="navbar-nav mr-auto navbar-lang">
        <li class="nav-item" data-ng-repeat="(key, value) in ::languages">
            <a class="nav-link p-0" data-ng-click="changeLanguage(key)">
                <span class="flag-icon {{::value.icon}}"> </span>
            </a>
        </li>
    </ul>
    <button class="navbar-toggler" type="button"
            data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div data-ng-show="!$auth.isAuthenticated()">
            <ul class="navbar-nav sign">
                <li class="nav-item">
                    <a class="nav-link" ui-sref="account/sign-up"  translate="Sign Up">Sign Up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" ui-sref="account/sign-in"  translate="Sign In">Sign In</a>
                </li>
            </ul>
        </div>
        <div data-ng-show="$auth.isAuthenticated()" class="text-light">
            <div class="inline-link-container">
                <a ui-sref="account">
                    <i class="far fa-user"></i>
                    Program
                </a>
            </div>
            <div class="inline-link-container">
                <a ui-sref="exam">
                    <i class="fas fa-sign-out-alt"></i>
                    Test
                </a>
            </div>
            <div class="inline-link-container" data-ng-show="$auth.isInRoles(['admin'])">
                <a ui-sref="admin/report">
                    <i class="fas fa-table"></i>
                    Reports
                </a>
            </div>
            <div class="inline-link-container">
                <a data-ng-click="logout()">
                    <i class="fas fa-sign-out-alt"></i>
                    Logout
                </a>
            </div>
        </div>
    </div>
</nav>