<nav class="navbar navbar-expand-md navbar-dark bg-dark" data-ng-navbar>
    <a class="navbar-brand" ui-sref="index">Ntiche</a>
    
    <ul class="navbar-nav mr-auto lang">
        <!--<li class="nav-item">
            <a class="nav-link" ui-sref="index">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" ui-sref="about">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" ui-sref="resources">Resources</a>
        </li>-->
        <li class="nav-item">
            <a class="nav-link" style="cursor: pointer" data-ng-click="changeLanguage('en')">en</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" style="cursor: pointer" data-ng-click="changeLanguage('fr')">fr</a>
        </li>
    </ul>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">

        <div class="border-t">
            <div data-ng-if="!$auth.isAuthenticated()">
                <ul class="navbar-nav sign">
                    <li class="nav-item">
                        <a class="nav-link" ui-sref="account/sign-up">Sign Up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ui-sref="account/sign-in">Sign In</a>
                    </li>
                </ul>
            </div>
            <div data-ng-if="$auth.isAuthenticated()">
                <div class="profile">
                    Hi, <a ui-sref="account/index" data-ng-bind="$auth.identity().userName"></a>
                </div>
                <a class="navbar-brand" ui-sref="exam/index">Take a test</a>
                <div class="border-t">
                    <button type="button" data-ng-click="logout()"><i class="fas fa-sign-out-alt"></i>Logout</button>
                </div>

            </div>
        </div>

    </div>
</nav>