<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" data-ng-navbar>
    <a class="navbar-brand" ui-sref="index">Ntiche</a>
    <ul class="navbar-nav mr-auto navbar-lang">
        <li class="nav-item">
            <a class="nav-link" data-ng-click="changeLanguage('en')">en</a>
        </li>
        <li class="nav-item" >
            <a class="nav-link" data-ng-click="changeLanguage('fr')">fr</a>
        </li>
    </ul>
    <button class="navbar-toggler" type="button"
            data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div data-ng-show="!$auth.isAuthenticated()">
            <ul class="navbar-nav sign">
                <li class="nav-item">
                    <a class="nav-link" ui-sref="account/sign-up">Sign Up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" ui-sref="account/sign-in">Sign In</a>
                </li>
            </ul>
        </div>
        <div data-ng-show="$auth.isAuthenticated()" class="text-light">
            <div class="inline-link-container">
                <a ui-sref="account">
                    <i class="far fa-user"></i>
                    My Account
                </a>
            </div>
            <div class="inline-link-container">
                <a ui-sref="exam">
                    <i class="fas fa-sign-out-alt"></i>
                    Test
                </a>
            </div>
            <div class="inline-link-container" data-ng-if="$auth.isInRoles(['admin'])">
                <a ui-sref="admin/report">
                    <i class="fas fa-table"></i>
                    Reports
                </a>
            </div>
            <div class="inline-link-container">
                <a data-ng-click="logout()">
                    <i class="fas fa-sign-out-alt"></i>
                    Logout
                </a>
            </div>
        </div>
    </div>
</nav>