<h3 class="text-center">Reports</h3>
<div class="mt-5 mb-5 row justify-content-center">
    <div class="col-md-10">
        <div class="card">
            <div class="card-body">
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="createDate">From</label>
                        <datepicker date-format="MM/dd/yyyy" datepicker-mobile="true">
                            <input class="form-control" data-ng-model="model.accountFrom" type="text" readonly/>
                        </datepicker>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="createDate">To</label>
                        <datepicker date-format="MM/dd/yyyy" datepicker-mobile="false">
                            <input class="form-control" data-ng-model="model.accountTo" type="text" readonly/>
                        </datepicker>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="firstName">First name</label>
                        <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First name" data-ng-model="model.accountFirstName" maxlength="300" />
                    </div>
                    <div class="form-group col-md-4">
                        <label for="lastName">Last name</label>
                        <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last name" data-ng-model="model.accountLastName" maxlength="300" />
                    </div>
                    <div class="form-group col-md-4">
                        <label for="email">Email</label>
                        <input type="text" class="form-control" id="email" name="email" placeholder="Email" data-ng-model="model.accountEmail" maxlength="300" />
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="pharmacistLicense">Pharmacist License</label>
                        <input type="text" class="form-control" id="pharmacistLicense" name="pharmacistLicense" placeholder="Pharmacist License" data-ng-model="model.accountPharmacistLicense" maxlength="100" />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="pharmacySettingId">Pharmacy setting</label>
                        <select class="form-control form-control-no-validation" id="pharmacySettingId" name="pharmacySettingId"
                                data-ng-options="pharmacySetting.name for pharmacySetting in ::pharmacySettings track by pharmacySetting.id"
                                data-ng-model="pharmacySetting"></select>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="countryIso2">Country</label>
                        <select class="form-control" id="countryIso2" name="countryIso2">
                            <option value="ca">Canada</option>
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="provinceId">Province</label>
                        <select class="form-control" id="provinceId" name="provinceId" data-ng-model="model.accountProvinceId">
                            <option value="">Any</option>
                            <option value="ab">Alberta</option>
                            <option value="bc">British Columbia</option>
                            <option value="mb">Manitoba</option>
                            <option value="nb">New Brunswick</option>
                            <option value="nl">Newfoundland and Labrador</option>
                            <option value="ns">Nova Scotia</option>
                            <option value="on">Ontario</option>
                            <option value="pe">Prince Edward Island</option>
                            <option value="qc">Quebec</option>
                            <option value="sk">Saskatchewan</option>
                            <option value="nt">Northwest Territories</option>
                            <option value="nu">Nunavut</option>
                            <option value="yt">Yukon</option>
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="city">City</label>
                        <input type="text" class="form-control" id="city" name="city" placeholder="City" data-ng-model="model.accountCity" maxlength="300" />
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="isOptin">Optin</label>
                        <select class="form-control" id="isOptin" name="isOptin" data-ng-model="model.accountIsOptin">
                            <option value="">Any</option>
                            <option value="true">Yes</option>
                            <option value="false">No</option>
                        </select>
                    </div>
                </div>
                <button type="button" class="btn btn-info" data-ng-click="downloadEvaluationReport()">Download evaluation report</button>

                <div class="form-row mt-3 pt-2 border-top">
                    <div class="form-group col-md-4">
                        <label for="examName">Test</label>
                        <select class="form-control" id="examName" name="examName" data-ng-model="model.examName">
                            <option value="">Any</option>
                            <option value="pre-test">Pre test</option>
                            <option value="post-test">Post test</option>
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="examResultIsSuccess">Result</label>
                        <select class="form-control" id="examResultIsSuccess" name="examResultIsSuccess" data-ng-model="model.examResultIsSuccess">
                            <option value="">Any</option>
                            <option value="true">Success</option>
                            <option value="false">Failed</option>
                        </select>
                    </div>
                </div>
                <button type="button" class="btn btn-info" data-ng-click="downloadExamReport()">Download test report</button>
            </div>
        </div>
    </div>
</div>