@model Email.Templates.Notification

<p>
    Dear @Model["firstName"] @Model["lastName"],
</p>
<p>
    Congratulations! You’re just a few steps away from activating your account.
    Click the link below to confirm your email address.
</p>
<p>
    <a href="@Model["emailConfirmationLink"]" target="_blank">
        Verify my account
    </a>
</p>