@model Email.Templates.Notification

<p>
    Dear @Model["firstName"] @Model["lastName"],
</p>
<p>
    Congratulations!
</p>
<p>
    You have passed the test. In the attachement you will find your certificate.
</p>